
.contenair{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 50fr));
    gap: 30px;
    margin-left: 60px;
    margin-bottom: 60px;
  }

  .horizantalLinep{
    margin-left: 60px;
    margin-right: 60px;
  }

  .btn{
    background-color: #e91616;
    color: white;
    margin-left: 725px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 15px 32px;
    border: none;
    margin-bottom: 30px;
  }


  .cardp {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }

  .cardp:hover {
    transform: scale(1.05);
  }

  .cardp img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
  }

  .card-contentp {
    padding: 20px;

  }

  .card-titlep {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .card-descriptionp {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 15px;
    text-align: center;
  }

  .card-pricep {
    font-size: 1.1rem;
    color: #e91616;
    margin-bottom: 10px;
    text-align: center;
  }

  .cta-buttonp {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e91616;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
  }

  .cta-buttonp:hover {
    background-color: #2980b9;
  }







  
  










  
 